@model List<src.Models.CartModel>
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    double i = 0;
}


<div class="card" style="width: 18rem;">
    <div class="card-header">
        Your Shopping Block
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var product in Model)
        {
           <li class="list-group-item">@product.Name  |  @product.Price</li>
            i = i + product.Price;

         }
    </ul>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0;">Total sum: @i</div>
    <button type="button" class="btn btn-info">CheckOut</button>
</div>
