@model List<src.Models.ActiveCart>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

nice i just scamemd you haHAA
<h4>nic</h4>
<h3>e i ju</h3>
<h2>st scammed you ha</h2>
<h1>Haa</h1>
<a href="#" class="card-link"><button type="button" onclick="window.location.href='/home/index'" class="btn btn-secondary">Oh no, not again!</button></a>
<br /><br />
