@model List<src.Models.ShopModel>

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-header">
            Product List
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>All our products is made by spaghetti.</p>
                <footer class="blockquote-footer">SoMeBoDy tOuCha Me SPAGHEEEET <cite title="Source Title">PapaBear</cite></footer>
            </blockquote>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">About Product</th>
                <th scope="col">Cost</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var product in Model)
                {
                    <td><a href="/shop/product/@(product.Id)">@(product.Name)</a><br /></td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td><button type="button" class="btn btn-success">Purchase</button></td>
                }
            </tr>
        </tbody>
    </table>
