@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Product successfully removed, gg wp!</h1
<a href="#" class="card-link"><button type="button" onclick="window.location.href='/admin/'" class="btn btn-secondary">K.</button></a>
